<template>
  <v-container grid-list-md text-xs-center>
    <div v-if="!nova_simulacao">
      <custom-panel-component title="Faça sua Simulação" display="display-3"></custom-panel-component>
    </div>

    <div v-else>
      <custom-panel-component title="Encontramos o melhor Plano para Você"></custom-panel-component>
    </div>

    <v-layout row v-if="!nova_simulacao" class="animated fadeIn">
      <v-flex xs12>
        <v-card light>
          <v-card-title>
            <h2>Simule seu Plano</h2>
          </v-card-title>
          <v-divider light/>
          <simulador-plano-form @plano_simulado="getPlanoSimulado"/>
        </v-card>
      </v-flex>
    </v-layout>

    <v-layout row v-if="plano_simulado && nova_simulacao" class="animated bounceIn">
      <v-flex xs12>
        <v-card light>
          <v-card-title>
            <h2>Plano Simulado</h2>
          </v-card-title>
          <v-divider light/>
          <grid-simulacao-planos :plano_simulado="plano_simulado"></grid-simulacao-planos>
        </v-card>
      </v-flex>
    </v-layout>

    <v-btn v-if="nova_simulacao" @click.prevent="novaSimulacao" color="primary">Nova Simulação</v-btn>
  </v-container>
</template>

<script>
import SimuladorPlanoForm from "@/components/SimuladorPlanoForm.vue";
import GridSimulacaoPlanos from "@/components/GridSimulacaoPlanos.vue";
import CustomPanelComponent from "@/components/common/CustomPanelComponent.vue";

import { DataAPI } from "./data_api.js";
import { DataAPIHistorico } from "@/views/historico/data_api.js";

const dataAPI = new DataAPI();
const dataAPIHistorico = new DataAPIHistorico();
export default {
  name: "simulador_plano",
  components: {
    SimuladorPlanoForm,
    GridSimulacaoPlanos,
    CustomPanelComponent
  },

  data() {
    return {
      headers: [
        {
          text: "Origem",
          align: "center",
          sortable: false,
          value: "origem"
        },
        {
          text: "Destino",
          align: "center",
          sortable: false,
          value: "destino"
        },
        {
          text: "$/min",
          align: "center",
          sortable: false,
          value: "minuto"
        }
      ],
      plano_simulado: null,
      planos: dataAPI.fetchPlanosData(),
      nova_simulacao: false
    };
  },
  methods: {
    getPlanoSimulado(event) {
      this.plano_simulado = event;
      this.nova_simulacao = true;
      dataAPIHistorico.pushHistorico(this.plano_simulado);
    },

    novaSimulacao() {
      this.plano_simulado = null;
      this.nova_simulacao = false;
    }
  }
};
</script>

<style>
</style>
