<template>
  <v-container grid-list-md text-xs-center>
    <v-responsive jumbotron>
      <v-container fill-height>
        <v-layout align-center>
          <v-flex>
            <h3 class="display-3">Histórico de Simulações</h3>
          </v-flex>
        </v-layout>
      </v-container>
    </v-responsive>
    <v-layout row>
      <v-flex xs12>
        <h3></h3>
        <grid-historico-simulacoes :historico="historico"></grid-historico-simulacoes>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { DataAPIHistorico } from "./data_api.js";
import GridHistoricoSimulacoes from "@/components/historico/GridHistoricoSimulacoes.vue";

const dataAPI = new DataAPIHistorico();
export default {
  name: "historico_simulacoes_planos",
  components: {
    GridHistoricoSimulacoes
  },
  mounted() {
    this.fetchHistoricoPlanos();
  },
  data() {
    return {
      historico: []
    };
  },
  methods: {
    fetchHistoricoPlanos() {
      this.historico = dataAPI.fetchHistorico();
    }
  }
};
</script>

<style>
</style>
