<template>
  <v-app id="keep">
    <v-navigation-drawer
      v-model="drawer"
      fixed
      :clipped="clipped"
      :mini-variant="miniVariant"
      enable-resize-watcher
      class="grey lighten-4"
      app
    >
      <menu-list></menu-list>
    </v-navigation-drawer>

    <v-toolbar color="green darken-3" dark app :clipped-left="clipped">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn>

      <!-- <v-avatar :tile="35" :size="35" color="grey lighten-4">
        <v-img :src="require('@/assets/logo.svg')" class="my-3" contain height="35"></v-img>
      </v-avatar>-->
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <v-container fluid class="grey lighten-4">
        <v-layout>
          <v-slide-y-transition mode="out-in">
            <router-view></router-view>
          </v-slide-y-transition>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import MenuList from "./MenuList.vue";

export default {
  name: "layout",
  components: {
    MenuList
  },
  data() {
    return {
      drawer: null,
      miniVariant: false,
      clipped: true,
      title: "BliiveTel"
    };
  }
};
</script>

<style>
</style>
