<template>
  <v-list dense class="grey lighten-4">
    <template v-for="(item, i) in items">
      <v-layout v-if="item.heading" :key="i" row align-center>
        <v-flex xs6>
          <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
        </v-flex>
        <v-flex xs6 class="text-xs-right">
          <v-btn small flat>edit</v-btn>
        </v-flex>
      </v-layout>
      <v-divider v-else-if="item.divider" :key="i" dark class="my-3"></v-divider>
      <v-list-tile v-else :key="i" v-on:click="navigate(item.url)">
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="grey--text">{{ item.text }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </template>
  </v-list>
</template>

<script>
export default {
  name: "menu_list",
  data() {
    return {
      items: [
        { icon: "home", text: "Home", url: "home" },
        // { icon: "contact_phone", text: "Meu Plano", url: "" },
        {
          icon: "shopping_basket ",
          text: "Simular um Plano",
          url: "simulador"
        },
        { divider: true },
        {
          icon: "description",
          text: "Histórico de Simulações",
          url: "historico"
        }
      ]
    };
  },
  methods: {
    navigate(url) {
      this.$router.push(`/${url}`);
    }
  }
};
</script>

