<template>
  <v-flex xs12 class="animated bounceInRight">
    <v-container grid-list-xl>
      <v-layout row wrap align-center>
        <v-flex xs12 md4>
          <v-card class="elevation-0 transparent">
            <v-img
              class="white--text"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-container fill-height fluid>
                <v-layout fill-height>
                  <v-flex xs12 align-end flexbox>
                    <span class="headline">FaleMais 30</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>
            <v-card-title primary-title class="layout justify-center">
              <div class="headline text-xs-center"></div>
            </v-card-title>
            <v-card-text>Plano FaleMais 30</v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12 md4>
          <v-card class="elevation-0 transparent">
            <v-img
              class="white--text"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-container fill-height fluid>
                <v-layout fill-height>
                  <v-flex xs12 align-end flexbox>
                    <span class="headline">FaleMais 60</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>
            <v-card-title primary-title class="layout justify-center">
              <div class="headline text-xs-center"></div>
            </v-card-title>
            <v-card-text>Plano FaleMais 60</v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12 md4>
          <v-card class="elevation-0 transparent">
            <v-img
              class="white--text"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-container fill-height fluid>
                <v-layout fill-height>
                  <v-flex xs12 align-end flexbox>
                    <span class="headline">FaleMais 120</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>
            <v-card-title primary-title class="layout justify-center">
              <div class="headline text-xs-center"></div>
            </v-card-title>
            <v-card-text>Plano FaleMais 120</v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-flex>
</template>
