<template>
  <v-card>
    <v-card-title>Planos
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Pesquisar"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table :headers="grid_headers" :items="$props.historico" :search="search" loading="true">
      <template slot="items" slot-scope="plano">
        <td class="text-xs-center">{{ plano.item.data }}</td>
        <td class="text-xs-center">{{ plano.item.origem }}</td>
        <td class="text-xs-center">{{ plano.item.destino }}</td>
        <td class="text-xs-center">{{ plano.item.tempo }}</td>
        <td class="text-xs-center">{{ plano.item.tipo_plano }}</td>
        <td class="text-xs-center">R$ {{ plano.item.preco_com_falamais }}</td>
        <td class="text-xs-center">R$ {{ plano.item.preco_sem_falamais }}</td>
      </template>
      <v-alert
        slot="no-results"
        :value="true"
        color="error"
        icon="warning"
      >Sua Busca por "{{ search }}" não encontrou resultados.</v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  name: "grid-historico-simulacoes",
  props: {
    historico: Array
  },

  data() {
    return {
      grid_headers: [
        {
          text: "Data",
          align: "center",
          sortable: true,
          value: "data"
        },
        {
          text: "Destino",
          align: "center",
          sortable: true,
          value: "destino"
        },
        { text: "Origem", value: "origem", align: "center" },
        { text: "Tempo", value: "tempo", align: "center", sortable: true },
        { text: "Plano FaleMais", value: "tipo_Plano", align: "center" },
        { text: "Com FaleMais", value: "preco_com_falamais", align: "center" },
        { text: "Sem FaleMais", value: "preco_sem_falamais", align: "center" }
      ],
      search: ""
    };
  }
};
</script>

<style>
</style>
