<template>
  <v-data-table
    :headers="$props.headers"
    :items="$props.planos"
    rows-per-page-text="Items por Página"
  >
    <template slot="headerCell" slot-scope="props">
      <v-tooltip bottom>
        <span slot="activator">{{ props.header.text }}</span>
        <span>{{ props.header.text }}</span>
      </v-tooltip>
    </template>
    <template slot="items" slot-scope="plano">
      <td class="text-xs-center">{{ plano.item.origem }}</td>
      <td class="text-xs-center">{{ plano.item.destino }}</td>
      <td class="text-xs-center">{{ plano.item.minuto }}</td>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "grid_tabela_valores",
  props: {
    headers: Array,
    planos: Array
  },

  data() {
    return {};
  },
  created() {},

  methods: {}
};
</script>

