<template>
  <div>
    <!-- <h4>{{$props.plano_simulado.tipo_plano}}</h4> -->
    <template>
      <v-data-table :headers="grid_headers" :items="[$props.plano_simulado]" class="elevation-1">
        <template slot="items" slot-scope="plano">
          <td class="text-xs-center">{{ plano.item.destino }}</td>
          <td class="text-xs-center">{{ plano.item.origem }}</td>
          <td class="text-xs-center">{{ plano.item.tempo }}</td>
          <td class="text-xs-center">{{ plano.item.tipo_plano }}</td>
          <td class="text-xs-center">R$ {{ plano.item.preco_com_falamais }}</td>
          <td class="text-xs-center">R$ {{ plano.item.preco_sem_falamais }}</td>
        </template>
      </v-data-table>
    </template>
  </div>
</template>

<script>
export default {
  name: "grid_simulacao_planos",
  props: {
    plano_simulado: {
      destino: "",
      origem: "",
      preco_com_falamais: "",
      preco_sem_falamais: "",
      tempo: "",
      tipo_plano: ""
    }
  },

  data() {
    return {
      grid_headers: [
        {
          text: "Destino",
          align: "center",
          sortable: false,
          value: "destino"
        },
        { text: "Origem", value: "origem", align: "center" },
        { text: "Tempo", value: "tempo", align: "center" },
        { text: "Plano FaleMais", value: "tipo_Plano", align: "center" },
        { text: "Com FaleMais", value: "preco_com_falamais", align: "center" },
        { text: "Sem FaleMais", value: "preco_sem_falamais", align: "center" }
      ]
    };
  },

  created() {},

  methods: {}
};
</script>

<style>
</style>
