<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-select
          :items="origens"
          placeholder="Selectione"
          v-model="plano.origem"
          label="Código de Origem"
          outline
          :rules="[rules.required]"
        ></v-select>
      </v-flex>

      <v-flex xs12 sm4 md3>
        <v-select
          :items="destinos"
          placeholder="Selectione"
          v-model="plano.destino"
          label="Código de Destino"
          outline
          :rules="[rules.required]"
        ></v-select>
      </v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field
          placeholder="25"
          type="number"
          label="Tempo(Em Minutos)"
          outline
          v-model="plano.tempo"
          :rules="[rules.required]"
        ></v-text-field>
      </v-flex>

      <v-flex xs12 sm4 d-flex>
        <v-select
          :items="planos"
          item-text="descricao"
          item-value="tempo"
          v-model="plano.tipo_plano"
          label="Plano"
          outline
          :rules="[rules.required]"
        ></v-select>
      </v-flex>
    </v-layout>
    <v-btn color="success" class="btnSimular" @click.prevent="simular()">Simular</v-btn>
  </v-container>
</template>
<script>
import { DataAPI } from "@/views/planos/data_api.js";

const dataAPI = new DataAPI();
export default {
  name: "simulador_plano_form",
  data() {
    return {
      origens: [],
      destinos: [],
      planos: [],
      plano: {
        origem: null,
        destino: null,
        tipo_plano: null,
        tempo: null
      },
      erros: [],
      rules: {
        required: value => !!value || "Obrigatório"
      }
    };
  },

  mounted() {
    this.origens = dataAPI.fetchOrigensEDestinos();
    this.destinos = dataAPI.fetchOrigensEDestinos();
    this.planos = dataAPI.fetchTiposPlano();
  },

  methods: {
    simular() {
      if (this.validaDados()) return;

      let plano = dataAPI
        .fetchPlanosData()
        .filter(
          p => p.origem == this.plano.origem && p.destino == this.plano.destino
        )[0];

      let plano_simulado = {
        origem: this.plano.origem,
        destino: this.plano.destino,
        tempo: this.plano.tempo,
        tipo_plano: this.plano.tipo_plano,
        preco_com_falamais: dataAPI.calcularTempoComPlano(
          this.plano.tipo_plano,
          this.plano.tempo,
          plano.minuto
        ),
        preco_sem_falamais: plano.minuto * this.plano.tempo
      };
      this.$emit("plano_simulado", plano_simulado);
    },

    validaDados() {
      let possuiErro = false;
      this.erros = [];
      if (!this.plano.destino) {
        possuiErro = true;
        this.erros.push("O campo Destino é Obrigatório");
      }
      if (!this.plano.origem) {
        possuiErro = true;
        this.erros.push("O campo Origem é Obrigatório");
      }

      if (!this.plano.tempo) {
        possuiErro = true;
        this.erros.push("O campo Tempo é Obrigatório");
      }

      if (this.erros.length > 0) {
        return true;
      }

      return false;
    }
  }
};
</script>

<style>
</style>
