<template>
  <v-responsive jumbotron>
    <v-container fill-height>
      <v-layout align-center>
        <v-flex>
          <h3 class="display-2">{{$props.title}}</h3>
          <slot name="content">
            <v-divider light></v-divider>
          </slot>
        </v-flex>
      </v-layout>
    </v-container>
  </v-responsive>
</template>

<script>
export default {
  name: "responsive-panel",
  props: {
    title: String
  }
};
</script>

<style>
</style>
