<template>
  <div class="text-xs-center">
    <v-dialog v-model="modal" width="500">
      <v-btn slot="activator" color="red lighten-2" dark>Visualizar Valores</v-btn>

      <v-card>
        <grid-tabela-valores></grid-tabela-valores>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="dialog = false">Fechar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import GridTabelaValores from "@/components/GridTabelaValores.vue";

export default {
  name: "modal_tabela_planos",
  components: {
    GridTabelaValores
  },
  data() {
    return {
      modal: false
    };
  }
};
</script>

<style scoped>
</style>
