<template>
  <v-layout row>
    <custom-panel-component title="Fale Mais">
      <div slot="content">
        <cards-planos-component></cards-planos-component>
      </div>
    </custom-panel-component>
  </v-layout>
</template>

<script>
import CustomPanelComponent from "@/components/common/CustomPanelComponent.vue";
import CardsPlanosComponent from "@/components/home/CardsPlanosComponent.vue";

export default {
  name: "home",
  components: {
    CustomPanelComponent,
    CardsPlanosComponent
  }
};
</script>