<template>
  <layout></layout>
</template>

<script>
import Layout from "./components/layout/Layout.vue";

export default {
  name: "App",
  components: {
    Layout
  }
};
</script>

<style>
.paralax-img {
  height: 100%;
}
</style>

